{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if subtitle %}{{ subtitle }} |{% endif %}
    {{ title }} | {{ site_title|default:_("Administration") }}
{% endblock title %}
{% block dark-mode-vars %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/admin_overrides.css" %}">
{% endblock dark-mode-vars %}
{% block branding %}
    <div id="site-name">
        <p>{% trans "Speak friend, and enter..." %}</p>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock branding %}
{% block nav-global %}
{% endblock nav-global %}
