.background-remover-widget {
  width: 100%;
  min-height: 200px;
  background-color: #333;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.background-remover-widget .loaded-image,
.background-remover-widget .modified-image {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 2px #888 dashed;
  margin: 10px;
  padding: 10px;
  max-height: 400px;
}
.background-remover-widget .loaded-image,
.background-remover-widget .loaded-image .widget-label {
  cursor: pointer;
}
.background-remover-widget .highlight,
.background-remover-widget .loaded-image:hover {
  border: 2px #aa7722 dashed;
}

.background-remover-widget .widget-image {
  object-fit: contain;
}

.background-remover-widget .widget-label {
  display: block;
  height: 100%;
}

.background-remover-widget .widget-input {
  display: none;
}
