{% load i18n %}
<div class="background-remover-widget">
    <div class="loaded-image">
        <label class="widget-label" for="{{ widget.attrs.id }}">
            <img class="widget-image"
                 alt="{% trans "Original" %}"
                 width="100%"
                 height="100%"
                 src="{{ widget.initial }}" />
        </label>
        <input class="widget-input"
               type="{{ widget.type }}"
               name="{{ widget.name }}"
               id="{{ widget.attrs.id }}"
               {% include "django/forms/widgets/attrs.html" %}>
    </div>
    <div class="modified-image">
        <img class="widget-image"
             alt="{% trans "Preview" %}"
             width="100%"
             height="100%"
             src="" />
    </div>
</div>
