{% load i18n %}
<div class="background-remover-widget">
    <label class="background-remover-label" for="{{ widget.attrs.id }}">
        <img class="background-remover-image"
             alt="{% trans "Preview" %}"
             width="100%"
             height="100%"
             src="" />
    </label>
    <input class="background-remover-input"
           type="{{ widget.type }}"
           name="{{ widget.name }}"
           id="{{ widget.attrs.id }}"
           {% include "django/forms/widgets/attrs.html" %}>
</div>
